aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asyncpg
attrs
certifi
frozenlist
greenlet
h11
httpcore
httpx
idna
magic-filter
multidict
pip
propcache
pydantic
pydantic_core
python-dotenv
python-telegram-bot
SQLAlchemy
typing_extensions
typing-inspection
yarl